*.egg-info
*.mo
*.pyc
*~
.coverage
.installed.cfg
.mr.developer.cfg
.python-version
.tox
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local/
parts/
var/
src/
/pip-selfcheck.json

# mxdev
/instance/
/.make-sentinels/
/*-mxdev.txt
/reports/
/sources/
/venv/
.installed.txt
