language: python
python: 2.7
sudo: false
env:
  - PLONE_VERSION=4.x
  - PLONE_VERSION=5.x
cache:
  pip: true
  directories:
    - $HOME/buildout-cache
matrix:
  fast_finish: true
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
  - pip install zc.buildout
  - sed -ie "s#test-4.x.cfg#test-$PLONE_VERSION.cfg#" buildout.cfg
install:
  - buildout -N -t 3 annotate
  - buildout -N -t 3
script:
  - bin/code-analysis
  - bin/test
after_success:
  - bin/createcoverage
  - pip install -q coveralls
  - coveralls
notifications:
  irc: irc.freenode.org#plone-testing
