[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.app.blocks
package-extras = [test]

parts +=
    createcoverage

[code-analysis]
directory = plone
flake8-ignore = E501,C901

[versions]
setuptools =
createcoverage = >=3.7
